*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
::selection {
  color: map-get($colors, veryDarkBlue);
  background-color: map-get($colors, myOrange);
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Overpass', sans-serif;
  color: map-get($colors, myWhite);
  background-color: map-get($colors, veryDarkBlue);
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}